input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(227, 233, 233);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
form {
  width: 30%;
  margin: auto;
}
.form_control {
  display: flex;
  justify-content: space-between;
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"],
button[type="reset"] {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
}
.alert {
  background-color: #f44336; /* Red */
  border-radius: 2px;
  padding: 5px;
  color: white;
}
